@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #D1853C;
}


.container-pai{
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    margin-top: 250px;
}

legend {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    margin-bottom: 50px;
    background-color: #D1853C;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 15px 20px 41px -13px #685f48;
}

div form{
    background-color: #D9CCAC;
    display: flex;
    flex-direction:column;
    padding: 20px 150px 20px 150px;
    border-radius: 8px;
    font-size: 15pt;
    font-weight: 500;
    box-shadow: 15px 20px 41px -8px rgba(0,0,0,0.75);
}

div form label {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
div form label input {
    padding: 20px;
    border: none;
    margin-top: 8px;
    padding-right: 100px;
    border-radius: 5px;
}

.botoes-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Espaçamento superior opcional */
}

.botoes {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.botoes:hover {
    transform: scale(1.1);
}